<div class="text-center jumbotron" style="text-align:center; color:#eee; margin: 0 auto; padding:1em;
  background-color:rgba(50,50,50,0.5);
  width: intrinsic;
	width: -moz-max-content;
	width: -webkit-max-content">

  <h3>These are pets currently waiting for their forever homes.</h3>
  <h3>Click on their photos for more details.</h3>
  <div>
    <a data-ui-sref="petNew" class="btn btn-primary">Add New Pet!</a>
  </div>
  <div class="container" style="margin-top:1em">

    <div class="row">
    <div data-ng-repeat="pet in PetIndexViewModel.pets">
      <div class="pet_list col-sm-6">

        <p class="text-center" data-ui-sref="petShow({id: pet.id})">
          <!-- <button data-ng-click="petEdit({id: pet.id})">Edit</button> -->
          <img src="{{pet.photo_url}}" class="img-rounded img-thumbnail"
          alt="{{pet.name}}, the {{pet.breed}} {{pet.species}}">
          <p class="text-center">{{pet.name}}, the {{pet.breed}} {{pet.species}}</p>
        </p>
      </div>
  </div>
  </div>
  </div>
</div>
