<div class="container">
  <div class="jumbotron" style="color:#eee;
  background-color:rgba(50,50,50,0.5)">
  <div class="container-fluid">

    <h3 class="text-center">These are pets currently waiting for their forever homes.</h3>
    <h3 class="text-center">Click on their photos for more details.</h3>
    <div class="text-center">
      <a data-ui-sref="petNew" class="btn btn-primary center">Add New Pet!</a>
    </div>
    <div class="container-fluid" style="margin-top:1em">

      <div class="row">
        <div data-ng-repeat="pet in PetIndexViewModel.pets">
          <div class="pet_list col-sm-6 col-xs-12">

            <p class="text-center" data-ui-sref="petShow({id: pet.id})">
              <!-- <button data-ng-click="petEdit({id: pet.id})">Edit</button> -->
              <img src="{{pet.photo_url}}" class="img-rounded img-thumbnail img-responsive" style="width:80vw"
              alt="{{pet.name}}, the {{pet.breed}} {{pet.species}}">
              <p class="text-center">{{pet.name}}, the {{pet.breed}} {{pet.species}}</p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
