<h2>Create Entry for Pet</h2>

<form>
  <p><input value="PetNewViewModel.pet.name"    data-ng-model="PetNewViewModel.pet.name" Placeholder="Name"/></p>
  <p><input value="PetNewViewModel.pet.species" data-ng-model="PetNewViewModel.pet.species" Placeholder="Species"/></p>
  <p><input value="PetNewViewModel.pet.breed"   data-ng-model="PetNewViewModel.pet.breed" Placeholder="Breed"/></p>
  <p><input value="PetNewViewModel.pet.age"     data-ng-model="PetNewViewModel.pet.age" Placeholder="Age"/></p>
  <p><input value="PetNewViewModel.pet.photo_url" data-ng-model="PetNewViewModel.pet.photo_url" Placeholder="Photo url"/></p>
  <p><button type="button" data-ng-click="PetNewViewModel.create()">Create</button></p>
</form>
