<h2>Create Entry for Pet</h2>

<form>
  <input value="PetNewViewModel.pet.name"    data-ng-model="PetNewViewModel.pet.name" />
  <input value="PetNewViewModel.pet.species" data-ng-model="PetNewViewModel.pet.species" />
  <input value="PetNewViewModel.pet.breed"   data-ng-model="PetNewViewModel.pet.breed" />
  <input value="PetNewViewModel.pet.age"     data-ng-model="PetNewViewModel.pet.age" />
  <input value="PetNewViewModel.pet.photo_url" data-ng-model="PetNewViewModel.pet.photo_url" />
  <button type="button" data-ng-click="PetNewViewModel.create()">Create</button>
</form>
